%table
  - @grid.each_with_index do |row, y|
    %tr
      - row.each_with_index do |city, x|
        - if city.blank?
          %td &nbsp;
        - else
          %td{class: "city #{city.color}"}
            = link_to city.name, "/games/#{@game.id}/actions?city=#{city.id}", method: :post
            - @players.select{|player| player.city == city }.each do |player|
              %br
              - if player.current?
                %strong= player.role.name
              - else
                = player.role.name
