.board
  %table
    - @grid.each_with_index do |row, y|
      %tr
        - row.each_with_index do |city, x|
          - if city.blank?
            %td &nbsp;
          - else
            %td{class: "city #{city.color} #{'can-travel' if @players.detect(&:current?).can_travel?(city)}"}
              .players
                - @players.select{|player| player.city == city }.each do |player|
                  = render partial: 'players/pawn', locals: {player: player}

              %p= link_to city.name, game_actions_path(@game.id, city: city.id), method: :post

              .virus
                - @game.viri.where(city: city).each do |virus|
                  = image_tag "#{virus.color}.png", title: virus.color.capitalize
.card.card-block.player-card
  %h3 Players
  %table
    - @players.each do |player|
      %tr
        - if player.current?
          %td.role.current
            = player.role.name
            = render partial: 'players/pawn', locals: {player: player}
        - else
          %td.role
            = player.role.name
            = render partial: 'players/pawn', locals: {player: player}
        %td.cards
          - player.cards.each do |card_id|
            - card = Card.find(card_id)
            - if city = City.find_by_name(card.name)
              %span{class: "#{city.color}"}= city.abbr
